<?xml version="1.0"?>
<robot xmlns:xacro="https://ros.org/wiki/xacro" name="ur5_with_measurement_tool">

  <!-- ur5 -->
  <xacro:include filename="$(find ur_description)/urdf/ur5.xacro" />
  <!-- end-effector -->
  <xacro:include filename="measurement_tool.xacro" />

  <!-- ur5 -->
  <!-- The ur5 xacro must be included with passing parameters -->
  <xacro:ur5_robot prefix=""/> <!-- joint_limited="true"/>-->
  <!-- end-effector -->
  <!-- Here we include the end-effector by setting the parameters -->
  <!-- TODO: check end-effector link name of robot -->
  <xacro:measurement_tool prefix="" connected_to="tool0"/>

  <!-- define the ur5's position and orientation in the world coordinate system -->
  <link name="world" />
  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link="base_link" /> <!-- TODO: check base_link name of robot -->
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>
</robot>